. {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #030303;
  }
  a {
    color: rgb(1, 28, 63);
  }
  a:hover {
    color: rgba(41, 130, 255, 0.904);
  }
  body {
    background-color: rgb(245, 238, 238);
    margin: 0;
  }
  nav {
    background-color: rgb(236, 230, 230);
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  nav a {
    text-decoration: none;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  nav ul li {
    list-style-type: none;
    flex-wrap: wrap;
    margin-right: 50px;
  }
  nav ul li a {
    color: rgb(173, 173, 173);
  }
  nav ul li.active a {
    color: rgb(0, 23, 54);
    font-weight: bold;
  }
  nav ul li.active a:hover {
    color: rgba(39, 126, 248, 0.418);
  }
  contact-me-button {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 23, 54);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
  }
  contact-me-button:hover {
    background-color: rgb(0, 107, 255);
  }
  @media (max-width: 1024px) {
    nav {
      padding: 10px;
    }
    nav ul {
      margin: 0;
      padding: 0;
    }
    nav ul li {
      margin-right: 20px;
    }
    nav ul li, .contact-me-button {
      text-align: center;
    }
  }